{
  "rules": {
    "quotes": ["warn", "single"],
    "eqeqeq": "warn",
    "complexity": "warn",
    "indent": ["error", 2],
    "no-undefined": "warn"
  },
  "parserOptions": { 
    "ecmaVersion": 2015,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}